@model CreateAuctionModel

<div class="centered">
    <form class="row g-3" method="post" asp-action="SellCar">
        <div class="col-md-12">
            <label asp-for="VenichleId" class="form-label">Select your vehicle</label>
            <select asp-for="VenichleId" asp-items="ViewBag.Vehichles" type="number" class="form-control">
                <option disabled selected>Choose...</option>
            </select>
            <span asp-validation-for="VenichleId" class="form-text text-danger"></span>
        </div>

        <h2>Car details</h2>
        <img class="w-100 p-0" src="" id="vehicleImage" />
        <table class="table table-dark table-striped rounded fs-5">
            <tr>
                <td scope="col" class="text-secondary">Model:</td>
                <td scope="col" id="model"></td>
                <td scope="col" class="text-secondary">Brand:</td>
                <td scope="col" id="brand"></td>
            </tr>
            <tr>
                <td class ="text-secondary">Exterior color:</td>
                <td id="exteriorColor"></td>
                <td class="text-secondary">Year:</td>
                <td id="year"></td>
            </tr>
            <tr>
                <td class="text-secondary">Interior color:</td>
                <td id="interiorColor"></td>
                <td class="text-secondary">Odometr:</td>
                <td id="odometr"></td>
            </tr>
            <tr>
                <td class="text-secondary">VIN:</td>
                <td id="vin"></td>
                <td class="text-secondary">Fuel type:</td>
                <td id="fuelType"></td>
            </tr>
            <tr>
                <td class="text-secondary">Body style:</td>
                <td id="bodyStyle"></td>
                <td class="text-secondary">Transmission:</td>
                <td id="transmission"></td>
            </tr>
        </table>

        <a asp-controller="Account" asp-action="EditCar" asp-route-id="VenichleId"></a>

        <h2>Auction details</h2>

        <div class="col-md-6">
            <label asp-for="TimeStart">Auction Start</label>
            <input asp-for="TimeStart" type="datetime-local"/>
            <span asp-validation-for=TimeStart class="form-text text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="TimeEnd">Auction End</label>
            <input asp-for="TimeEnd" type="datetime-local"/>
            <span asp-validation-for=TimeEnd class="form-text text-danger"></span>
        </div>

        <div class ="col-md-6">
            <label asp-for="StartPrice" class="form-label">Start price</label>
            <input asp-for="StartPrice" type="number" class="form-control" placeholder="10000">
            <span asp-validation-for=StartPrice class="form-text text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="CityNow" class="form-label">City now</label>
            <input asp-for="CityNow" type="text" class="form-control">
            <span asp-validation-for=CityNow class="form-text text-danger"></span>
        </div>

        <div class="col-md-12">
            <label asp-for="Name" class="form-label">Front name</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="BMW 3 Series 2013">
            <span asp-validation-for=Name class="form-text text-danger"></span>
        </div>

        <div class="col-md-12">
            <label asp-for="MinDescription" class="form-label">Min. description</label>
            <textarea asp-for="MinDescription" class="form-control" rows="3" placeholder="~18,000 Miles, 2 Owners, Supercharged AMG V6, Unmodified"></textarea>
        </div>
              
        <div class="col-md-6">
            <a asp-action="Index" asp-controller="Home" type="submit" class="w-100 rounded btn text-light bg-dark">Back</a>
        </div>

        <div class="col-md-6">
            <button type="submit" class="w-100 rounded btn bg-success">Put on sale</button>
        </div>
    </form>
</div>