html {
  font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  width: 70%;
  margin: 0 auto;
}

body {
  margin-bottom: 60px;
}

.navbar-brand > span {
    color: #4AD493;
    margin: 0 3px;
}

.bg-success {
    background-color: #4AD493 !important;
}


